<div data-sticky-container>
    <div class="title-bar" data-sticky-options="margin-top: 0;" style="width: 100%">
        <div class="title-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
		<li class="menu-text"><h1>Wild Warriors <small>Clash Of Clans.</small></h1></li>
		<li><a routerLink="/clan">Clan</a></li>
		<li><a routerLink="/chat">Chat</a></li>
		<li><a routerLink="/war-log">War Log</a></li>
	    </ul>
	</div>
	<div class="totle-bar-right">
	    <ul class="menu align-right" data-dropdown-menu>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/profile/2">Profile</a></li>
		<li><a class="button warning" routerLink="/login">Login</a></li>
	    </ul>
	</div>
    </div>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
